Package.resolved
.vscode
.swiftpm
.build

Sources/BisonWrite/BisonWrite.docc/.docc-build
Sources/BisonRead/BisonRead.docc/.docc-build
Sources/BisonEncode/BisonEncode.docc/.docc-build
Sources/BisonDecode/BisonDecode.docc/.docc-build